<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="DevExpress" />
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="ConnSqliteStr" connectionString="Data Source=./data/Data.db;Version=3" providerName="System.Data.SQLite" />
    <add name="MasterConnStr" connectionString="server =192.168.1.186; uid=sa;pwd=123456abcde;database=SunSystem;Max Pool Size = 512;Connect Timeout=180" />
  </connectionStrings>
  <appSettings>
    <add key="RunOnlyOnce" value="true" />
    <!-- 系统数据库类型SqlServer,Sqlite,MySql -->
    <add key="ServerType" value="Sqlite" />
    <add key="AppId" value="TaskManager" />
    <add key="ProjectName" value="定时任务" />
		<add key="App_Key" value="TaskManager"/>
		<add key="ShowNotifyIcon" value="true"/>
		<add key="hyConnectionString" value="server=192.168.1.225; database=DB_MESHTTY; uid=sa; pwd=123456abcde;Max Pool Size = 512"/>
		<add key="MESDB_HTTY" value="server =192.168.1.225; uid=sa;pwd=123456abcde;database=DB_MESHTTY;Max Pool Size = 512;Connect Timeout=180"/>
		<add key="MESDB_HTJS" value="server =192.168.1.225; uid=sa;pwd=123456abcde;database=DB_MESHTJS;Max Pool Size = 512;Connect Timeout=180"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>